.main__logo {
  color: $blue;
  text-decoration: none;
  font-family: $font;
  font-weight: $font-weight-logo;
  font-size: $font-size-logo;
  line-height: 119%;
  letter-spacing: 0.03em;
}
.main__logos {
  color: $black;
  font-family: $font;
  font-weight: $font-weight-logo;
  font-size: $font-size-logo;
  line-height: 119%;
  letter-spacing: 0.03em;
}
.main__logo-two {
  color: $white;
  font-family: $font;
  font-weight: $font-weight-logo;
  font-size: $font-size-logo;
  line-height: 119%;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 20px;
  width: 145px;
}
