$white: #ffffff;
$gray_dark: #212121;
$gray: #757575;
$blue: #2196f3;
$black: #000000;
$background-hero: #2f303a;
$hero-blok: #eeeeee;
$button: #f5f4fa;
$border: #ececec;
$card-link: #afb1b8;
$overlay-color: rgba(33, 150, 243, 0.9);
$font-family: "Roboto", sans-serif;
$font: "Raleway", sans-serif;
$font-two: Roboto;
$font-weight-body: 500px;
$font-size-body: 14px;
$width-container: 1200px;
$font-weight-logo: 700px;
$font-size-logo: 26px;
$max-width: 1600px;
$height-hero: 600px;
$font-weight-hero: 900px;
